<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Invoices</h3>
      </div>
      
      <div class="panel-body">
      
      <p>
        <strong>Company:</strong>
        <%= @invoice.company %>
      </p>
      
      <p>
      <strong>Amount:</strong>
        <%= @invoice.amount %>
      </p>
      
      <p>
        <strong>Date:</strong>
        <%= @invoice.date %>
      </p>
      </div>
      
      <div class="panel-footer">
        <div class = "btn-group">
        
          <br>
          <%= link_to 'Back', invoices_path, class: "btn btn-warning" %>
          <button class="btn btn-primary" onclick="printDiv('print-me')">Print</button>
     
          
      <div class="modal fade" id="invoice_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:920px">
      <div class="container-fluid invoice_wrapper" style="margin:10px" id="print-me">
        <%= render 'invoice' %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onclick="printDiv('print-me')">Print</button>
          
          
        </div>
        
      </div>
      
    </div>
  </div>
</div>  
